<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91043847609-7v98nu5trsoksersf4p8j1n1iega3jl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91043847609-7v98nu5trsoksersf4p8j1n1iega3jl1</string>
	<key>API_KEY</key>
	<string>AIzaSyBITBUb8vrMnLI1MSV_Ajn8Uq-rFD__kYY</string>
	<key>GCM_SENDER_ID</key>
	<string>91043847609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookslist</string>
	<key>PROJECT_ID</key>
	<string>booklist-29391</string>
	<key>STORAGE_BUCKET</key>
	<string>booklist-29391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91043847609:ios:a57b4f00ba06029b706a68</string>
</dict>
</plist>